<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    News
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favourites">Favourites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recommendation">Recommendations</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <span class="profile" *ngIf="currentUser">Hi! {{currentUser.firstname}} {{currentUser.lastname}}</span>
  </div>
</nav>

<router-outlet></router-outlet>