<app-alert></app-alert>
<section class="news-container" fxLayoutAlign="space-evenly stretch" *ngIf="favourites">
    <mat-card class="news-card" *ngFor="let result of favourites; let i=index" fxFlex="0 1 calc(20% - 20px)">

        <mat-card-header>
            <mat-card-title><b>Title:&nbsp;</b>{{result.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="result.author"><b>Author:&nbsp;</b>{{result.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{result.urlToImage}}" alt="{{result.title}}">
        <mat-card-content fxFlex>
            <p>{{result.content}}</p>
        </mat-card-content>

        <mat-card-actions align="end">
            <a mat-icon-button [disableRipple]="true" href="{{result.url}}" target="_blank">
                <mat-icon>link</mat-icon>
            </a>
            <button mat-icon-button (click)="removeFavourite(result.id);">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>

    </mat-card>
</section>