<app-alert></app-alert>
<section class="search-full-width">
    <mat-form-field class="search-field">
        <input [formControl]="queryField" type="search" matInput placeholder="search here" autofocus
            class="search-box" />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- <mat-form-field class="date-picker-field">
        <input matInput [matDatepicker]="pickerfrom" placeholder="Choose start date">
        <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerfrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field  class="date-picker-field">
        <input matInput [matDatepicker]="pickerto" placeholder="Choose end date">
        <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
        <mat-datepicker #pickerto></mat-datepicker>
    </mat-form-field> -->
</section>

<section class="news-container" fxLayoutAlign="space-evenly stretch" *ngIf="results">
    <mat-card class="news-card" *ngFor="let result of results; let i=index" fxFlex="0 1 calc(20% - 20px)">

        <mat-card-header>
            <mat-card-title><b>Title:&nbsp;</b>{{result.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="result.author"><b>Author:&nbsp;</b>{{result.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{result.urlToImage}}" alt="{{result.title}}">
        <mat-card-content fxFlex>
            <p>{{result.content}}</p>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-icon-button (click)="addFavourite(i);">
                <mat-icon>favorite</mat-icon>
            </button>
            <a mat-icon-button [disableRipple]="true" href="{{result.url}}" target="_blank">
                <mat-icon>link</mat-icon>
            </a>
        </mat-card-actions>

    </mat-card>
</section>