.news-container {
  margin-left: 3vw;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;  
}
.news-card {
    
    max-width: 400px;
    padding: 1em;
    border: 1px solid red;
    height: 70vh;
    margin: 1em;
    max-height: 70vh;
    border-radius: 5px;
  }
  .search-field {
    padding-left: 10vw;
    align-content: center;
    width: 80vw;
  }
  .search-box {
    width: 100vw;
  }
  .date-picker-field {
    /* padding-left: 1vw; */
    width: 10vw;
    margin-left: 1em;
  }
  .search-full-width {
    width: 100%;
    background-color: antiquewhite;
  }
  .mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }
